<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSIBAL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>labs-Korean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>labs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7349F70D1BA1ABB1006E9ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7349F7211BA1ABB1006E9ABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>734C7D6C1BB4C1DA0071678C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73F5EB961BA1B1E600A925F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73F5EBAA1BA1B1E600A925F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD1DA811B04CCB200F9EA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD1DA961B04CCB200F9EA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
